* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #6295e0;
}

.logo-drassager {
    margin: 10px;
    width: 200px;
}

ul {
    padding: 0 20px;
}

ul li {
    padding: 22px 0;
    list-style: none;
    font-size: 16px;
    border-radius: 10px;
}

.dashboard{
    background-color: #fff;
}
.dashboard a {
    color: black;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li:hover {
    background-color: #fff;
}
ul li a:hover {
    color: black;
}

li img {
    width: 20px;
    filter: invert(100%);

}

.modulos {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 280px;
    width: 77%;
    height: 90%;
    border-radius: 10px;
    background-color: #fff;
}